html {
	font-size: 100px;
}
.container {
	position: relative;
	max-width: 720px;
	margin: 0 auto;
	background-color:#ffffff;
}
.support a{
	position: fixed;
	top: 10%;
	right: 2%;
	width: 1rem;
	height: 1rem;
	background-image: url("../image/support.webp");
	background-size: 100% 100%;
	z-index: 999;
}
.container .downBtn{
  position: absolute;
  top: 32.1%;
  left: 13%;
  width: 77%;
  height: 1.1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.1rem 0 0.1rem;
	background-color: #3b0303;
	color: #afafaf;
}
.footer .links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0.2rem;
}
.footer .links a {
	display: flex;
	align-items: center;
	height: 0.08rem;
	margin-bottom: 0.2667rem;
	padding: 0 0.1rem;
	font-size: 0.28rem;
	text-decoration: none;
	color: #afafaf;
	font-weight: bold;
}
.footer .links a.border {
	border-right: 1px dashed #afafaf;
}
.devider{
	width:100%;
	border-bottom:1px solid #606280
}
.footer p{
	margin-top: .1rem;
	margin-bottom: .1rem;
}
header {
	font-size: .4rem;
	padding-top: .1rem;
}
header h1{
	font-weight: bold;
	margin-bottom: .2rem;
	text-align: center;
}
.section{
	margin-left: .2rem;
	margin-right: .2rem;
	line-height: .35rem;
}
.section p{
	margin-bottom: .3rem;
	font-size: .3rem;
}
.container ul {
	list-style:disc;
	counter-reset: item;
	margin-left: .2.5rem;
}
.container li {
	font-size: .28rem;
	line-height: .45rem; 
}
.home{
	text-align: center;
	padding-top: .1rem;
}
.home button{
	width: 1rem;
	color: white;
	background-color: #4dacff;
	padding-right: 1rem;
	padding-left: .4rem;
	margin-left: .1rem;
	margin-right: .1rem;
	font-size: .25rem;
	font-weight: bold;
	border-radius: .1rem;
	cursor: pointer;
}
.stars{
    width: 57% !important;
    height: 20% !important;
}